* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('https://media.istockphoto.com/photos/medical-or-science-with-soft-light-background-picture-id532963888?b=1&k=20&m=532963888&s=170667a&w=0&h=M4yUU0hRRuXD6uL3BFIGx_kdEFtusXcK4MhUArhFLfY='); /* Ganti 'gambar.jpg' dengan URL atau path relatif dari gambar yang ingin Anda gunakan */
    background-size: cover; /* Untuk memastikan gambar mengisi seluruh latar belakang */
    background-position: center;
}

h4 {
    text-decoration: none;
    color: #000000;
    text-shadow: #fff;
    text-align: center;
    margin: 11px;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-area {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
}

.header-area .logo img {
    max-width: 100%;
    height: auto;
}

.main-menu ul {
    list-style: none;
    display: flex;
}

.main-menu ul li {
    margin-left: 20px;
}

.main-menu ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.main-menu ul li a:hover {
    color: #007bff;
}

.section {
    padding: 60px 0;
}

.section h2 {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
}

.form-group {
    margin-bottom: 40px;
}

.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 12 px;
}

.form-check-inline input[type="radio"] {
    margin-right: 10px; /* Jarak antara radio button dan label */
}


.form-check-inline {
    align-items: center; /* Meletakkan item secara vertikal di tengah */
    margin-right: 20px;
    display: flex;
    margin-bottom: 15px;
}

.form-check-inline form-check-label {
    margin-right: 10px; /* Jarak antara teks dan kotak centang */
    align-items: center; /* Meletakkan item secara vertikal di tengah */
    display: flex;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

#hasil {
    margin-top: 30px;
    text-align: center; /* Meletakkan konten di tengah secara horizontal */
    display: flex;
    justify-content: center; /* Meletakkan konten di tengah secara horizontal */
    align-items: center; /* Meletakkan konten di tengah secara vertikal */
    height: 100vh
}

button {
    padding: 10px 20px;
    background-color: #007bff; /* Warna latar belakang */
    color: #fff; /* Warna teks */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Efek transisi */
    margin: 20px;
}

button:hover {
    background-color: #0056b3; /* Warna latar belakang saat hover */
    margin: 20px;
}